<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Guestbook</title>
</head>
<body>
{% for greeting in greetings %}
	<div>
		<form>
		{% if greeting.author%}
			<b>{{ greeting.author|escape }}</b> wrote:
		{% else %}
			An anonymous person wrote:
		{% endif %}
			<blockquote>
				<input type="text" readonly="readonly" name="greeting_message" value="{{ greeting.content|escape }}">
			</blockquote>
			<input type="hidden" name="guestbook_name" value="{{guestbook_name|escape}}">
			<input type="hidden" name="greeting_id" value="{{greeting.key.id|escape}}">
		{% if admin or user_login and greeting.author == user_logined %}
			<input type="submit" value="Delete" formaction="/delete/" formmethod="post">
			<input type="submit" value="Edit" formaction="/edit/" formmethod="get">
		{% endif %}
		</form>
	</div>
{% endfor %}
	<a href="{% url 'guestbook:sign' %}?guestbook_name={{guestbook_name}}"> Sign Post </a>
	<form>
		Guestbook Name: <input value="{{ guestbook_name }}" name="guestbook_name">
		<input type="submit" value="Switch">
	</form>
	<a href="{{ url }}">{{ url_linkText }}</a>
</body>
</html>
